@media (min-width: 1400px) {
    .container {
        max-width: 1600px!important;
    }
}

@media only screen and (max-width:1600px){
/* header-section-starts */
.hero_chef_img img{
    width: 80px; 
    height: 80px;
}
.hero_banner_area {
    padding-left: 80px;
    padding-right: 80px;
}
.hero_chef_content_area {
padding: 48px 20px;
}
/* header-section-ends */
}
@media only screen and (max-width:1399px){
    /* header-section-starts */
    .hero_banner_content_area h1 {
    font-size: 54px;
}
.hero_banner_image {
    margin-top: 80px;
}
.hero_chef_content_area {
    padding-inline: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero_chef_content_heading h3 {
    margin-top: 0px;
}

.hero_area .row{
  gap: 170px;
}
.hero_chef_list {
    gap: 50px;
}
.hero_chef_text p {
    font-size: 16px;
    max-width: unset;
    padding-right: 180px;
}
.hero_chef_img img {
    width: 100px;
    height: 100px;
}
.hero_banner_area {
    margin-top: 105px;
    padding-top: 150px;
    padding-bottom: 60px;
}
.hero_banner_content_text p {
    margin-top: 50px;
}

    /* header-section-ends */

    /* food-section-starts */
    .food_heading h2 {
    font-size: 40px;
}
.food_swiper_btn .food_common_btn::after {
    font-size: 22px !important;
    padding: 15px 45px;
}
/* .food_img {
    max-width: 350px;
    height: 460px;
} */
 .food_img {
    max-width: 100%;
    height: 550px;
}
.swiper-slide-active .food_text p {
    font-size: 41px;
}
.food_text p {
    font-size: 22px;
}
/* food-section-ends */


/* hamburger-section-starts */
.hamburger_menu_section{
    padding: 20px 0;
    background-color: #6b3737;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.hamburger_menu_area{
 display: flex;
}

/* hamburger-section-starts */

/* sidebar-section-starts */
.sidebar {
    width: 50%;
    padding: 0;
        background-color: #6b3737;
    left: -50%;
}
.main_wrapper {
    width: unset;
}
.sidebar.active{
    left: 0;
}
.sidebar_area {
 gap: unset;
 height: 100%;
}
.mobile_icon{
    display: none;
}
.sidebar_content {
    flex-direction: row;
    gap: unset;
}
.sidebar_icons a .label {
    display: block;
}
.sidebar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
            border-bottom: 1px solid #fff;
            padding: 30px;
}
.sidebar_content {
    display: unset;
    padding: 30px;
}
.close_btn{
    font-size: 30px;
    color: #fff;
}
.sidebar_icons {
    align-items: flex-start;
}
.sidebar_icons a{
    display: flex;gap: 20px;
}
.close_btn{
    display: block;
}
/* sidebar-section-ends */
/* contact-section-starts */
.contact_section {
    padding: 40px 0;
}
.contact_text p {
    padding-right: 400px;
}
/* contact-section-end */
    /* food-section-ends */

    /* footer-section-starts */
    footer {
 width: unset;
}
    /* footer-section-ends */
}

@media only screen and (max-width:1199px){
/* header-section-starts */
.hamburger_menu_area .logo {
    width: 80px;
}
.menu_btn {
    font-size: 25px;
}
.hamburger_menu_section {
    padding: 15px 0;
}

/* header-section-end */

/* hero-section-starts */
.hero_banner_area {
    padding-top: 80px;
    padding-bottom: 10px;
}
.hero_banner_content_area h1 {
    font-size: 45px;
    margin-top: 50px;
}
.hero_banner_image {
    margin-top: 40px;
}
.hero_banner_image img {
    max-width: 130px;
}
.hero_area .row {
    gap: 150px;
}
.hero_chef_list {
    gap: 30px;
}
.hero_chef_text h4 {
    font-size: 22px;
}
.hero_chef_img img {
    width: 80px;
    height: 80px;
}
.hero_chef_text p {
    font-size: 14px;
}
.hero_chef_content_heading h3 {
font-size: 28px;
}
/* hero-section-ends */


/* service-section-starts */
.service_section {
    padding: 70px 0;
}
.service_img svg {
    width: 62px;
    height: 62px;
}
.service_text h4 {
    font-size: 22px;
}
.service_text p {
    font-size: 14px;
}
.service_area .row {
    row-gap: 50px;
}
/* service-section-ends */

/* food-section-starts */
.food_section {
    padding: 40px 0;
}
.food_img {
    height: 500px;
}
.food_heading h2 {
    font-size: 30px;
}
.food_swiper_btn .food_common_btn::after {
    font-size: 20px !important;
    padding: 12px 35px;
}
.swiper-slide-active .food_text p {
    font-size: 35px;
}
.food_pagination .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;

}
/* food-section-ends */


/* contact-section-starts */
.contact_text p {
    padding-right: 200px;
    font-size: 14px;
}
.contact_heading h3 {
font-size: 28px;
}
.contact_area {
    padding-left: 20px;
}
/* contact-section-ends */

    /* gallery-section-starts */
    .gallery_section {
    padding: 40px 0;
}
.gallery_area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 24px;
}
.gallery_area .gallery_img{
    grid-area: unset!important;
}

/* gallery-section-ends */

/* footer-section-starts */
.footer_logo a {
    width: 80px;
}
.footer_heading h3 {
    font-size: 20px;
    margin-bottom: 18px;
}
.footer_heading ul li {
    margin: 8px 0;
}
.footer_heading ul li a {
    font-size: 14px;
}
/* footer-section-ends */


}


@media only screen and (max-width:991px){
    /* hamburger-section-starts */
    .hamburger_menu_area .logo {
    width: 50px;
}
    /* hamburger-section-ends */

    /* hero-section-starts */
    .hero_banner_content_area h3 {
    font-size: 25px;
}
.hero_banner_area {
    margin-top: 70px;
}
.hero_banner_content_area h1 {
    font-size: 38px;
}
.hero_btn a {
    padding: 10px 20px;
    font-size: 14px;
}
.hero_banner_content_text p {
font-size: 14px;
margin-top: 30px;
}
.hero_banner_image {
    margin-top: 20px;
}
.hero_banner_image img {
    max-width: 100px;
    height: 40px;
}
.hero_area .row {
    gap: 120px;
}
.hero_chef_content_heading h3 {
    font-size: 25px;
}
.hero_chef_content_area {
  gap: 30px;
}
.hero_chef_img img {
    width: 60px;
    height: 60px;
}
.hero_chef_text h4 {
    font-size: 18px;
}
.hero_chef_text p {
    font-size: 13px;
}
    /* hero-section-ends */

    /* service-section-starts */
    .service_img svg {
    width: 50px;
    height: 50px;
    transform: unset;
}
.service_content {
    padding-right:10px;
}
.service_text p {
    font-size: 13px;
}
    .service_text h4 {
    font-size: 18px;
}
    /* service-section-ends */

    /* food-section-starts */
    .food_area .row{
        justify-content: space-between;
    }
    .food_heading h2 {
    font-size: 25px;
}
.food_swiper_btn .food_common_btn::after {
    font-size: 16px !important;
    padding: 8px 25px;
}
.food_img {
    height: 400px;
}
.swiper-slide-active .food_text p {
    font-size: 30px;
    margin-bottom: 0;
}
.food_text p {
    font-size: 18px;
    margin-bottom: 0;
}
.food_pagination {
    bottom: 30px!important;
}
.food_pagination .swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
}
.food_section {
    padding: 20px 0;
}
    /* food-section-ends */

    /* contact-section-starts */
    .contact_area {
    padding-left: 0;
      gap: 15px;
}
.contact_section {
    padding: 20px 0;
}
.contact_wrapper {
    padding: 30px;
}
.contact_heading h3 {
    font-size: 25px;
}
.contact_img {
    max-width: 280px;
    height: 100px;
}
.contact_img img {
    object-fit: scale-down;
    object-position: left;
}
.contact_text p {
    padding-right: 100px;
    font-size: 13px;
}
.contact_btn a {
    padding: 8px 20px;
    font-size: 14px;
}
    /* contact-section-ends */

    /* footer-section-starts */
    footer {
    padding: 30px 0;
}
.footer_logo a {
    width: 60px;
}
.footer_heading h3 {
    font-size: 18px;
    margin-bottom: 18px;
}
.footer_heading ul li {
    margin: 5px 0;
}
.footer_heading ul li a {
    font-size: 12px;
}
.footer_icons {
    gap: 20px;
}
.footer_icons a {
    font-size: 20px;
}
.footer_copyright p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}
    /* footer-section-ends */

    /* sisebar-section-starts */
            
    .sidebar_menu {
        padding: 15px 30px;
    }
    .sidebar_icons a {
    font-size: 18px;
}
    .sidebar_logo a {
    width: 60px;
}
.close_btn {
    font-size: 25px;
}
    /* sisebar-section-ends */
}

@media only screen and (max-width:767px){
    /* sidebar-section-starts */
    .sidebar {
    width: 70%;
    left: -70%;
}
.sidebar.active {
    left: 0;
}
    /* sidebar-section-ends */

    /* hero-section-starts */
    .hero_banner_content_area h3 {
    font-size: 20px;
}
    .hero_banner_content_area h1 {
    font-size: 33px;
    margin-top: 30px;
}
.hero_banner_content_text p {
    margin-top: 20px;
}
.hero_banner_image img {
    max-width: 80px;
    height: 30px;
}
.hero_area .row {
    gap: 100px;
}
.hero_chef_content_area {
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero_chef_content_heading h3 {
    font-size: 20px;
}
.hero_chef_text p {
    padding-right: 40px;
}
    /* hero-section-ends */

    /* service-section-starts */
    .service_section {
    padding: 40px 0;
}
.service_area .row {
    row-gap: 20px;
}
.food_heading h2 {
    font-size: 20px;
}
.food_img {
    height: 320px;
}
.swiper-slide-active .food_text p {
    font-size: 28px;
}
.food_pagination {
    bottom: 40px!important;
}
.food_pagination .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
}
    /* service-section-ends */

    /* contact-section-starts */
    .contact_heading h3 {
    font-size: 20px;
}
.contact_img {
    max-width: 250px;
    height: 60px;
}
.contact_text p {
    padding-right: 0;
}
    /* contact-section-ends */

    /* footer-section-starts */
    .footer_logo a {
    width: 50px;
}
footer {
    padding: 30px 0;
    padding-bottom: 20px;
}
.footer_heading h3 {
    font-size: 16px;
    margin-bottom: 11px;
}
.footer_heading ul li {
    margin: 3px 0;
}
.footer_icons {
    gap: 15px;
}
.footer_icons a {
    font-size: 15px;
}
.footer_area {
    padding-bottom: 20px;
}
.footer_copyright p {
    font-size: 13px;
}
    /* footer-section-ends */
}

@media only screen and (max-width:575px){
    /* hamburger-section-starts */
    .menu_btn {
    font-size: 20px;
}
    /* hamburger-section-ends */
    /* hero-section-starts */
    .hero_banner_area {
   padding-inline: 15px;
}
.hero_banner_content_area h1 {
    font-size: 28px;
    margin-top: 24px;
}
.hero_btn a {
    font-size: 13px;
}
.hero_banner_image {
    margin-top: 10px;
}
.hero_banner_image img {
    max-width: 60px;
    height: 30px;
}
.hero_chef_content_area {
padding-inline: 15px;
gap: 15px;
}
.hero_chef_list {
    gap: 20px;
}
.hero_chef_img img {
    width: 50px;
    height: 50px;
}
.hero_banner_content_text p {
    font-size: 13px;
}
.hero_chef_text h4 {
    font-size: 16px;
}
.hero_chef_text p {
    font-size: 12px;
}
    /* hero-section-ends */

    /* service-section-starts */
    .service_section {
    padding: 20px 0;
}
.service_text h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.service_text p {
    font-size: 12px;
}
    /* service-section-ends */

    /* food-section-starts */
    .swiper-slide-active .food_text p {
    font-size: 22px;
}
.food_area .row {
    gap: 30px;
}
.food_swiper_btn {
    margin-bottom: 15px;
}
.footer_area .row{
    gap: 30px;
}
    /* food-section-ends */

    /* sidebar-section-starts */
    .sidebar_logo a {
    width: 50px;
}
.close_btn {
    font-size: 20px;
}
.sidebar_content {
    padding: 30px 20px;
}
.sidebar_icons a {
    font-size: 17px;
}
    /* sidebar-section-ends */
}

@media only screen and (max-width:480px){
    .cursor_wrapper{
        display: none;
    }
/* hamburger-section-starts */
.hamburger_menu_section {
    padding: 10px 0;
}
/* hamburger-section-ends */

    /* hero-sections-starts */
    .hero_banner_area {
    margin-top: 40px;
}
.hero_banner_content_area h3 {
    font-size: 17px;
}
.hero_banner_content_area h1 {
    font-size: 22px;
}
.hero_btn a {
    padding: 7px 15px;
    font-size: 12px;
}
.hero_banner_content_text p {
    font-size: 12px;
}
.hero_banner_image img {
    max-width: 50px;
    height: 20px;
}
.hero_banner_area {
    gap: 10px;
}
.hero_area .row {
    gap: 60px;
}
.hero_chef_content_heading h3 {
    font-size: 17px;
    margin-bottom: 5px;
}
.hero_chef_text p {
    padding-right: 10px;
}
.hero_chef_text h4 {
    font-size: 14px;
}
/* hero-sections-ends */

/* service-section-starts */
.service_img svg {
    width: 40px;
    height: 40px;
}
.service_text h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
/* service-section-ends */

/* food-section-starts */
.food_heading h2 {
    font-size: 17px;
}
.food_swiper_btn .food_common_btn::after {
    font-size: 12px !important;
    padding: 5px 18px;
}
.food_img {
    height: 260px;
}
.swiper-slide-active .food_text p {
    font-size: 20px;
    left: 20px;
}
.food_pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}
.food_pagination {
    bottom: 15px!important;
}
.food_swiper_wrapper {
    margin-bottom: 50px;
}
/* food-section-ends */

/* contact-section-starts */
.contact_wrapper {
    padding: 30px 15px;
}
.contact_heading h3 {
    font-size: 17px;
}
/* .contact_text p {
    font-size: 12px;
} */
.contact_btn a {
    padding: 7px 15px;
    font-size: 12px;
}
/* contact-section-ends */

/* gallery-section-starts */
.gallery_area {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
/* gallery-section-ends */

/* sidebar-section-starts */
.sidebar_menu {
    padding: 15px 20px;
}
.sidebar_content {
    padding: 20px;
}
.sidebar_icons a {
    font-size: 15px;
}
/* sidebar-section-ends */

/* footer-section-starts */
.sidebar {
    width: 100%;
    left: -100%;
}
.sidebar.active {
    left: 0;
}
/* footer-section-ends */
}

@media only screen and (max-width:360px){
    .food_swiper_btn .food_next_btn{
        right: 0px!important;
    }
    .food_swiper_btn .food_prev_btn{
        left: 0px!important;
    }
    .food_img {
    height: 240px;
}
.swiper-slide-active .food_text p {
    font-size: 18px;
    left: 15px;
}
/* gallery-section-starts */
.gallery_section {
    padding: 20px 0;
}
/* gallery-section-ends */
/* footer-section-starts */
footer {
    padding: 20px 0;
}
.footer_copyright p {
    font-size: 12px;
}
/* footer-section-ends */
}